/* Prefixed by https://autoprefixer.github.io */

body {
  margin: 0;
}

.container {
  position: relative;
}

/* Main Image */
img {
    position: center;
    size: contain;
    position: relative;
  }

/* Text positioning */
.top-left {
  position: absolute;
  top: 40px;
  left: 16px;
}

/* Font styling */
h1 {
  font-family: covered by your grace;
  font-style: regular;
  font-size: 45px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
}

/* Button positioning */
button {
  position: absolute;
  top: 90%;
  left: 85%;
  margin: -90% 0 0 -85%;
}

/* Button text styling */
.enter {
  width: 130px;
  height: 60px;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
  border: none;
  color: #171a1a;
  text-shadow: 1px 1px 3px rgba(18,249,180, 0.95);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; /* Safari */
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* button on hover */
.enter:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  cursor: pointer;
}

/* footer styling and position */
#footer {
  background-color: white;
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
}

/* Media queries */
@media screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
  }

  .top-left {
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 20px;
  }

  .top-left {
    position: absolute;
    top: 0;
  }

  button {
    position: absolute;
    top: 90%;
    left: 80%;
  }

  .enter {
    font-size: 15px;
    width: 80px;
    height: 35px;
  }

  #footer {
    font-size: 10px;
  }
}
