body {
 margin: 0;
}

/* Home page */
/* ellchan_anime title styling and position */
.text {
  font-family: covered by your grace;
  font-style: regular;
  margin: 0;
  padding: 4px 14px;
  font-size: 40px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  }

/* nav position full contaner */
.nav-link {
  height: auto;
  display: block;
  padding:  8px 16px;
  font-family: lato;
  font-style: italic;
  font-size: 20px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  transition-duration: 0.4s;
}

/* nav position full contaner */
.dropdown-menu {
  height: auto;
  padding: 2px;
  font-family: lato;
  font-style: italic;
  font-size: 15px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  transition-duration: 0.4s;
}

/* nav text styling & shadow on hover */
  ul.nav li a:hover:not(.active) {
    background-color: rgba(18,249,180,0.1);
    color: #f7f7f7;
    text-shadow: 1px 1px 3px rgba(23,26,26,0.95);
   }

/* Welcome title styling and posistion */
h2 {
  font-family: lato;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: rgba(209,8,29, 0.6);
  text-shadow: 1px 1px 2px rgba(23,26,26, 0.6);
  margin: 5px;
  padding: 2px;
}

p {
  font-family: lato;
  color: #171a1a;
}

/* Welcome title styling and posistion */
h3 {
  font-family: lato;
  font-style: italic;
  font-size: 20px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(209,8,29, 0.6);
  margin: 5px;
  padding: 2px;
}

i {
  color: rgba(18,249,180,0.95);
  text-shadow: 1px 1px 3px rgba(23,26,26,0.75 );
}

.work-list {
  list-style-type: none;
}

/* Contact Form */
/* text */
.form-group {
font-family: lato;
font-weight: bold;
font-style: italic;
font-size: 20px;
color: rgba(209,8,29, 0.6);
text-shadow: 2px 2px 14px rgba(18,249,180,0.1);
}

/* input field box */
.form-control {
font-family: lato;
font-style: italic;
box-shadow: 2px 2px 5px rgba(0,255,178, 0.6);
border: 1px solid #ccc;
border-radius: 10px;

}

/* button */
.btn {
width: 130px;
height: 60px;
background-color: #fff;
border-radius: 15px;
border: none;
color: #171a1a;
text-shadow: 1px 1px 3px rgba(18,249,180, 0.95);
text-align: center;
display: inline-block;
font-size: 20px;
font-family: lato;
font-style: italic;
font-weight: bold;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

/* Submit button styling on hover */
.btn:hover {
  box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  cursor: pointer;
}

/* social media links */
#links {
  height: 50px;
}

/* social media links as they stand */
#socialMediaLinks a {
  font-size: 40px;
  line-height: 50px;
  color: #171a1a;
  text-decoration: none;
}

/* social media links when on hover */
#socialMediaLinks a:hover {
    color: #00ffb2;
    transition-duration: 0.4s;
}

/* footer styling and position */
#footer {
  background-color: none;
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 50px;
  text-align: right;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  float: right;
  }
