/* Prefixed by https://autoprefixer.github.io */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Image Banner */
.banner {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  background-color: white;
  height: auto;
}

/* Title & Navbar positioning */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  padding: 10px;
  background-color: white;
  z-index: 2;
}

/* Ell_chan title Styling */
.text {
  font-family: covered by your grace;
  font-style: regular;
  font-size: 40px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  padding: 0;
}

/* Main Nav Bar Details */
nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
          align-items: flex-end;
 -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  text-align: right;
}

/* Nav toggle button */
.nav-btn {
  border: none;
}

.nav-btn i {
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* Nav links styling */
.nav-link {
  height: auto;
  padding: 0;
  margin: 0;
  font-family: lato;
  font-style: italic;
  font-size: 20px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

a.nav-link {
  padding-bottom: 10px;
}

/* Navbar drop down menu */
.dropdown-menu {
  font-family: lato;
  font-style: italic;
  font-size: 15px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  text-align: right;
}

/* nav text styling & shadow on hover */
ul.navbar-nav li a:hover:not(.active) {
  background-color: rgba(18,249,180,0.1);
  color: #f7f7f7;
  text-shadow: 1px 1px 3px rgba(23,26,26,0.95);
  border-radius: 20px;
}

.toggle {
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-size: 15px;
  padding-left: 5px;
}

.toggle:hover:not(.active) {
  background-color: rgba(18,249,180,0.1);
  color: #f7f7f7;
  text-shadow: 1px 1px 3px rgba(23,26,26,0.95);
}

/* Container Styling */

/* H2 Styling details */
h2 {
  font-family: lato;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: rgba(209,8,29, 0.6);
  text-shadow: 1px 1px 2px rgba(23,26,26, 0.6);
  margin: 5px;
  padding: 2px;
}

/* Main Paragraph */
p {
  font-family: lato;
  color: #171a1a;
  width: 100%
}

/* H3 Styling details */
.work-title {
  font-family: lato;
  font-style: italic;
  font-size: 20px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(209,8,29, 0.6);
  margin: 5px;
  padding: 2px;
  text-align: center;
}

.h3-text {
  font-family: lato;
  font-style: italic;
  font-size: 20px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(209,8,29, 0.6);
  margin: 5px;
  padding: 2px;
}

/* Lists Styling details */
i {
  color: rgba(18,249,180,0.95);
  text-shadow: 1px 1px 3px rgba(23,26,26,0.75 );
}

.work-list {
  list-style-type: none;
}

/* Contact Form */
/* text */
.form-group {
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: rgba(209,8,29, 0.6);
  text-shadow: 2px 2px 14px rgba(18,249,180,0.1);
}

/* input field box */
.form-control {
  font-family: lato;
  font-style: italic;
  -webkit-box-shadow: 2px 2px 5px rgba(0,255,178, 0.6);
          box-shadow: 2px 2px 5px rgba(0,255,178, 0.6);
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
}

/* button */
.btn {
  width: 130px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  border: none;
  color: #171a1a;
  text-shadow: 1px 1px 3px rgba(18,249,180, 0.95);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: lato;
  font-style: italic;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* Submit button styling on hover */
.btn:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
          box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  cursor: pointer;
}

/* Modal Styling */
.image {
  padding: 10px;
  transistion:  0.5s ease;
}

.image:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
          box-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  border-radius: 5px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

/* Modal Light */
.modal-light {
  font-family: lato;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: rgba(209,8,29, 0.6);
  text-shadow: 1px 1px 2px rgba(23,26,26, 0.6);
  margin: 5px;
  padding: 2px;
}

.light {
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  background-color: white;
  margin: 10px;
}

/* Modal Dark */
.modal-dark {
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: #f7f7f7;
  text-shadow: 1px 1px 3px rgba(0,255,178, 0.6);
  margin: 5px;
  padding: 2px;
}

.dark {
  font-family: lato;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  color: #f7f7f7;
  background-color: black;
  margin: 10px;
}

/* social media links */
#links {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* social media links as they stand */
#socialMediaLinks a {
  font-size: 40px;
  line-height: 50px;
  color: #171a1a;
  text-decoration: none;
}

/* social media links when on hover */
#socialMediaLinks a:hover {
  color: #00ffb2;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* footer styling and position */
#footer {
  background-color: none;
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 50px;
  text-align: right;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* Media queries */
@media screen and (max-width: 992px) {

  /*Social Media & Footer Display */
  #socialMediaLinks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  #footer {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {

  /*Social Media & Footer Display */
  .modal-dialog {
    width: 80%;
    height: inherit;
  }

  .nav-link {
    font-size: 15px;
  }

  .dropdown-menu {
    font-size: 12px;
  }
}
