#banner {
    margin: auto;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
      }
h1 {
  font-family: covered by your grace;
  font-style: regular;
  left: 70px;
  top: 100px;
  font-size: 50px;
  color: #171a1a;
  text-shadow: 4px 4px 10px rgba(0,255,178, 0.6);
  }

#sidenav {
    width: 250px;
    position: relative;
    display: block;
  }

a:link {
  text-decoration: none;
  font-family: lato;
  font-style: italic;
  font-size: 30px;
  text-align: left;
  line-height: 50px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
}

a:visited {
  text-decoration: none;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

li {
  list-style: none;
}

.nav1 {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    height: 50px;
    position: relative;
    background-color: #f7f7f7;
    border-radius: 7px;
    border: 1px solid black;
  }

#footer {
  font-family: lato;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 50px;
  line-height: 50px;
  color: rgba(23,26,26,0.75);
  text-shadow: 1px 1px 3px rgba(18,249,180,0.95);
}
